body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #bce4e9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    background-color:#9bcad4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.input-section, .output-section {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    resize: none;
    background-color: #7bb0be;
}
.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #245b6a;
    color: #F6F0F0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color:#245b6a;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .input-section, .output-section {
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    button {
        align-items: center;
        width: 50%;
        padding: 10px;
    }
}